#info, #loading {
    display: none;
}

body {
    color: white;
    background-color: rgb(50, 50, 50);
}

a {
    color: white;
}

footer {
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(0%, -100%);
}

#buttons {
    margin-top: 10px;
}